// Import fonts

/* sass-lint:disable max-line-length no-duplicate-properties */
@font-face {
  font-family: 'Gilroy';
  src: url('./../fonts/gilroy-light-export/gilroy-light.eot'); /* IE9 Compat Modes */
  src: url('./../fonts/gilroy-light-export/gilroy-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./../fonts/gilroy-light-export/gilroy-light.woff2') format('woff2'), /* Modern Browsers */
  url('./../fonts/gilroy-light-export/gilroy-light.woff') format('woff'), /* Modern Browsers */
  url('./../fonts/gilroy-light-export/gilroy-light.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./../fonts/gilroy-light-export/gilroy-light.svg') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./../fonts/gilroy-regular-export/gilroy-regular.eot'); /* IE9 Compat Modes */
  src: url('./../fonts/gilroy-regular-export/gilroy-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./../fonts/gilroy-regular-export/gilroy-regular.woff2') format('woff2'), /* Modern Browsers */
  url('./../fonts/gilroy-regular-export/gilroy-regular.woff') format('woff'), /* Modern Browsers */
  url('./../fonts/gilroy-regular-export/gilroy-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./../fonts/gilroy-regular-export/gilroy-regular.svg') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./../fonts/gilroy-semibold-export/gilroy-semibold.eot'); /* IE9 Compat Modes */
  src: url('./../fonts/gilroy-semibold-export/gilroy-semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./../fonts/gilroy-semibold-export/gilroy-semibold.woff2') format('woff2'), /* Modern Browsers */
  url('./../fonts/gilroy-semibold-export/gilroy-semibold.woff') format('woff'), /* Modern Browsers */
  url('./../fonts/gilroy-semibold-export/gilroy-semibold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./../fonts/gilroy-semibold-export/gilroy-semibold.svg') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./../fonts/gilroy-bold-export/gilroy-bold.eot'); /* IE9 Compat Modes */
  src: url('./../fonts/gilroy-bold-export/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./../fonts/gilroy-bold-export/gilroy-bold.woff2') format('woff2'), /* Modern Browsers */
  url('./../fonts/gilroy-bold-export/gilroy-bold.woff') format('woff'), /* Modern Browsers */
  url('./../fonts/gilroy-bold-export/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./../fonts/gilroy-bold-export/gilroy-bold.svg') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./../fonts/gilroy-extrabold-export/gilroy-extrabold.eot'); /* IE9 Compat Modes */
  src: url('./../fonts/gilroy-extrabold-export/gilroy-extrabold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./../fonts/gilroy-extrabold-export/gilroy-extrabold.woff2') format('woff2'), /* Modern Browsers */
  url('./../fonts/gilroy-extrabold-export/gilroy-extrabold.woff') format('woff'), /* Modern Browsers */
  url('./../fonts/gilroy-extrabold-export/gilroy-extrabold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./../fonts/gilroy-extrabold-export/gilroy-extrabold.svg') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 800;
  font-display: fallback;
}
/* sass-lint:enable max-line-length no-duplicate-properties */

@mixin heebo {
  font-family: 'Heebo', sans-serif;
}

@mixin gilroy {
  font-family: 'Gilroy', sans-serif;
}

html {
  font-size: calc(1em * .625);
}

body {
  /* sass-lint:disable-block no-vendor-prefixes */
  // font: 1.4rem / 1.5 'Heebo', sans-serif;
  @include heebo;
  // @include fluid('font-size', (xxs: 13px, nav: 14px, xl: 15px));
  @include fluid('font-size', (xxs: 15px, nav: 16px, xl: 18px));
  color: $white;
  font-weight: 400;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

p {
  margin: 0;
  line-height: 1.7;
}

h1,
.h1 {
  @include gilroy;
  @include fluid('font-size', (xxs: 48px, nav: 72px, xl: 120px));
  margin: 0;
  font-weight: 800;
  line-height: 1;
}

h2,
.h2 {
  @include gilroy;
  @include fluid('font-size', (xxs: 36px, nav: 48px, xl: 72px));
  margin: 0;
  font-weight: 800;
  line-height: 1;
}

h3,
.h3 {
  @include gilroy;
  @include fluid('font-size', (xxs: 22px, nav: 28px, xl: 36px));
  margin: 0;
  font-weight: 800;
  line-height: 1.1;
}

h4,
.h4 {
  @include gilroy;
  @include fluid('font-size', (xxs: 18px, nav: 22px, xl: 24px));
  margin: 0;
  font-weight: 800;
  line-height: 1.1;
}

.abstract {
  @include heebo;
  @include fluid('font-size', (xxs: 24px, nav: 36px, xl: 48px));
  margin: 0;
  font-weight: 300;
  line-height: 1.16;
}

.baseline {
  @include heebo;
  @include fluid('font-size', (xxs: 22px, nav: 28px, xl: 36px));
  margin: 0;
  font-weight: 300;
  line-height: 1.16;
}

.lead {
  @include heebo;
  @include fluid('font-size', (xxs: 18px, nav: 22px, xl: 24px));
  margin: 0;
  font-weight: 300;
  line-height: 1.5;
}

.small {
  @include heebo;
  @include fluid('font-size', (xxs: 11px, nav: 12px, xl: 13px));
  margin: 0;
  font-weight: 400;
  line-height: 1.7;
}

.label {
  @include gilroy;
  @include fluid('font-size', (xxs: 11px, nav: 12px, xl: 13px));
  @include fluid('letter-spacing', (xxs: 2.2px, nav: 2.5px, xl: 3px));
  margin: 0;
  color: $c-cyan-aqua;
  font-weight: 800;
  line-height: 1.1;
  text-transform: uppercase;
}

.name {
  @include gilroy;
  @include fluid('font-size', (xxs: 15px, nav: 28px, xl: 36px));
  margin: 0;
  font-weight: 800;
  line-height: 1.17;
}

.outline {
  color: $c-black-russian;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $c-cyan-aqua;
}

.wysiwyg {
  p {
    margin-top: 2rem;
  }

  h1 {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
  }

  h2 {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
  }

  h3 {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
  }

  h4 {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
  }

  .abstract {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
  }

  .baseline {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
  }

  .lead {
    margin-bottom: 2rem;
  }

  .small {
    margin-bottom: 2rem;
  }

  .label {
    margin-bottom: 2rem;
  }

  .name {
    margin-bottom: 2rem;
  }
}
