.tickets__list {

  .ticket {
    margin-bottom: 5rem;

    @include mq(l) {
      margin-bottom: 6.5rem;
    }
  }

  @include mq(s) {
    // padding-bottom: 150px;
    columns: 2;
    column-gap: 20px;
  }

  @include mq(m) {
    column-gap: 40px;
  }

  @include mq(l) {
    columns: 3;
    column-gap: 30px;

    @include mq(xl) {
      column-gap: 50px;
    }
  }

  @include mq($from: s, $until: l) {
    .ticket:nth-child(4),
    .ticket:nth-child(5),
    .ticket:nth-child(6) {
      // .ticket__container {
        transform: translateY(150px);
      // }
    }
  }

  @include mq(l) {
    .ticket:nth-child(3),
    .ticket:nth-child(4) {
      // .ticket__container {
        transform: translateY(170px);
      // }
    }

    .ticket:nth-child(5),
    .ticket:nth-child(6) {
      // .ticket__container {
        transform: translateY(50px);
      // }
    }
  }
}

.ticket {
  // background: $white;
  color: $c-black-russian;
  break-inside: avoid-column;
  perspective: 1400px;

  &, * {
    break-inside: avoid-column;
  }
}

.ticket__title {
  @include fluid(padding-top, (xxs: 25px, xl: 50px));
  @include fluid(padding-right, (xxs: 25px, xl: 30px));
  @include fluid(padding-bottom, (xxs: 20px, xl: 23px));
  @include fluid(padding-left, (xxs: 25px, xl: 30px));
  position: relative;
  background: $c-navy-blue;
  color: $white;

  p {
    @include fluid(font-size, (xxs: 24px, xl: 36px));
  }

  svg {
    @include fluid(width, (xxs: 26px, xl: 32px));
    @include fluid(top, (xxs: 15px, xl: 18px));
    @include fluid(right, (xxs: 25px, xl: 20px));
    position: absolute;
    fill: $white;
  }
}


.ticket__table {
  display: flex;
  border-bottom: .1rem solid $c-alto;
  background: $white;

  > * {
    flex: 1;
  }

  .ticket__price,
  .ticket__date {
    @include fluid(padding-top, (xxs: 15px, xl: 20px));
    @include fluid(padding-bottom, (xxs: 15px, xl: 20px));
    @include fluid(padding-left, (xxs: 25px, xl: 20px));
    @include fluid(padding-right, (xxs: 25px, xl: 20px));
  }

  .ticket__price {
    white-space: nowrap;
  }

  .ticket__date {
    border-left: .1rem solid $c-alto;
  }

  strong {
    @include fluid(font-size, (xxs: 9px, xl: 11px));
    @include gilroy;
    display: block;
    color: $c-gray;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .8px;
  }

  span {
    @include fluid(font-size, (xxs: 22px, xl: 28px));
    @include gilroy;
    display: block;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .8px;
  }
}

.ticket__inner {
  padding: 0 25px;

	background:
		linear-gradient(135deg, transparent 0, $white 0) top left,
		linear-gradient(225deg, transparent 0px, $white 0) top right,
		linear-gradient(315deg, transparent 10px, $white 0) bottom right,
    linear-gradient(45deg,  transparent 10px, $white 0) bottom left;

  background-size: 51% 51%;
  background-repeat: no-repeat;

  background-image:
    radial-gradient(circle at 0 0, rgba(204,0,0,0) 0, $white 0),
    radial-gradient(circle at 100% 0, rgba(204,0,0,0) 0, $white 0),
    radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 19px, $white 20px),
    radial-gradient(circle at 0 100%, rgba(204,0,0,0) 19px, $white 20px);
}

.ticket__content {
  padding: 3rem 0 4.5rem;

  p {
    margin-top: 0;
  }
}

.ticket__more {
  padding-top: 1rem;
  color: $c-gray;
  line-height: 1.2;
}

.ticket__cta {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -.1rem;
  padding: 25px;

  transform-origin: 0 0;
  transform: rotateX(0deg);
  backface-visibility: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 2rem;
    left: 2rem;
    display: block;
    height: .2rem;

    background-image: linear-gradient(to right, #D0D0D0 60%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 28px 2px;
    background-repeat: repeat-x;
  }

	background:
		linear-gradient(135deg, transparent 10px, $white 0) top left,
		linear-gradient(225deg, transparent 10px, $white 0) top right,
		linear-gradient(315deg, transparent 0px, $white 0) bottom right,
    linear-gradient(45deg,  transparent 0px, $white 0) bottom left;

  background-size: 51% 51%;
  background-repeat: no-repeat;

  background-image:
    radial-gradient(circle at 0 0, rgba(0,0,0,0) 19px, $white 20px),
    radial-gradient(circle at 100% 0, rgba(0,0,0,0) 19px, $white 20px),
    radial-gradient(circle at 100% 100%, rgba(0,0,0,0) 0px, $white 0px),
    radial-gradient(circle at 0 100%, rgba(0,0,0,0) 0px, $white 0px);
}

.ticket__barcode {
  position: relative;
  width: 100%;
  max-width: 28rem;
}


.ticket__link {
  @include get-all-space;
  z-index: 10;
  display: block;
}

$paddingv: (xxs: 11px, xl: 15px);
$paddingh: (xxs: 25px, xl: 35px);

.ticket .button {
  @include fluid('padding-top', $paddingv);
  @include fluid('padding-right', $paddingh);
  @include fluid('padding-bottom', $paddingv);
  @include fluid('padding-left', $paddingh);

  margin-top: 2rem;
  background: $c-navy-blue;
  color: $white!important;
}

// .ticket__cta__container {
//   transform-origin: 0 0;
//   transition: transform .4s $ease-wecargo;

//   &:hover {
//     transform: rotateX(10deg);
//   }
// }

.ticket__cta__shadow {
  @include get-all-space;
  z-index: -1;
  background: radial-gradient(ellipse at 50% -100%, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 70%);
  // opacity: .3;
  pointer-events: none;
  opacity: 0;
}


@keyframes buzz {
  70% {
    opacity: 0.80;
  }
}

@keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.5;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.1;
  }
  48% {
    opacity: 1;
  }
}

.ticket__barcode__laser {
  position: absolute;
  top: 0;
  right: -1rem;
  left: -1rem;
  height: 10px;
  opacity: 0;

  span {
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom,
      rgba($c-laser, 0) 0%,
      rgba($c-laser, 1) 30%,
      rgba($c-laser, 1) 60%,
      rgba($c-laser, 0) 100%,
    );
    animation: blink 0.2s infinite alternate;
  }
}
